extends base

block content 
  if question.completed
    h2 Congratulations!
  else 
    h3 Level #{question.level+1}
    h5 #{question.levelName}
    h6(style="width: 70vw")= question.problem
    if question.hint
      a(href=question.hint target="_noref").hint  #{question.hintText}

    form.question-form
      label.login-form__username Answer
      input#answer(type='text' name='answer' placeholder='Your answer here!' required)

      button(class="btn waves-effect waves-light" type="submit" name="action") Submit

block append scripts
  script(src="/js/submitQuestion.js")